@model SIAAPI.Models.Administracion.TipoVendedor

<h3>¿Está seguro de borrar este registro?</h3>
<div>
    <h4>Eliminar Tipo de Vendedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionVendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionVendedor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger btn-xs" /> |
            @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })
        </div>


    }
</div>
<div><h2 class="text-danger" >@ViewBag.Mensaje</h2></div>
