@model SIAAPI.Models.CartaPorte.c_Estaciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Detalles Estaciones aeroportuarias y estaciones férreas</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clave_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FFVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FFVigencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDEstacion }, new { @class = "btn btn-success btn-xs" }) |
    @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })
</p>
