@model SIAAPI.Models.Administracion.VBcoEmpresa

<div>
    <h3>Banco registrado a la empresa</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentaBanco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaBanco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaveMoneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveMoneda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cuentaContable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuentaContable)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "btn btn-sucess btn-xs" })
    @Html.ActionLink("Regresar a la lista", "Index", new { @class = "btn btn-default btn-xs" })
</p>
