@model SIAAPI.Models.Soporte.MensajesSoporte

@{
    ViewBag.Title = "CreateMensaje";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ticket De Soporte</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Mensaje Para Soporte Del Sistema</h4>
    <p class="alert-warning">
        En este módulo puede levantar un ticket de soporte de sistema, sea muy específico al redactar el error :<br />
        
        ° Describa en que módulo trabajaba y que acción realizaba cuando sucedió el error<br />
        ° En caso de operaciones con documentos (pedidos, facturas, ordenes de producción, etc.)  refiera el número de documento. <br />
        ° Escriba el mensaje de error que le aparecio en pantalla <br /><br />
        Entre mayor sea la información que coloque, más fácil será detectar el error, con estos datos podamos brindarle un mejor servicio.<br />
    </p>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
        @Html.LabelFor(model => model.Fecha_Hora, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fecha_Hora, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fecha_Hora, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Mensaje, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Mensaje, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Mensaje, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.Rol, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Rol, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })
        </div>
    </div>*@


    @*<div class="form-group">
        @Html.LabelFor(model => model.EstadoTicket, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.EstadoTicket)
                @Html.ValidationMessageFor(model => model.EstadoTicket, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
