@model SIAAPI.Models.CartaPorte.c_NumAutorizacionNaviero

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Eliminar Agente Viajero</h3>

<h3>¿Está seguro de eliminar este registro?</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumAutorizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumAutorizado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FFVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FFVigencia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger btn-xs" />   @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })
</div>
    }
</div>
