@model SIAAPI.Models.CartaPorte.c_ClaveProdServCP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>c_ClaveProdServCP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PalabrasS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PalabrasS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FFVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FFVigencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClaveP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
