@model IEnumerable<SIAAPI.Models.Comercial.ContactosClie>
<h3>Contactos de Cliente</h3>
<p>
    @Html.ActionLink("Crear un nuevo registro", "CreateContacto", null, new { @class = "btn btn-warning btn-xs" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Puesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            <a href="mailto:#">@Html.DisplayFor(modelItem => item.Email)</a> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Puesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>*@
        <td>
            @Html.ActionLink("Editar", "EditContacto", new { id=item.IDContactoClie }, new { @class = "btn btn-success btn-xs" }) 
            @Html.ActionLink("Detalles", "DetailsContacto", new { id=item.IDContactoClie }, new { @class = "btn btn-default btn-xs" }) 
            @Html.ActionLink("Eliminar", "DeleteContacto", new { id=item.IDContactoClie }, new { @class = "btn btn-danger btn-xs" })
            @*<div class="row"><a href=@("Clientes/EditContacto/"+item.IDContactoClie) class="btn btn-default">Editar</a>         </div>
            <div class="row"><a href=@("Clientes/DetailsContacto/"+item.IDContactoClie ) class="btn btn-default">Detalles</a> </div>
            <div class="row"><a href=@("Clientes/DeleteContacto/" + item.IDContactoClie ) class="btn btn-danger">Eliminar</a> </div>*@
        </td>
    </tr>
}

</table>
<p>

@Html.ActionLink("Regresar a la lista", "Details", new { id = Session["IDCliente"] }, new { @class = "btn btn-default btn-xs" })
</p>