@model SIAAPI.ClasesProduccion.ClsCotizador

@{
    ViewBag.Title = "Calidad";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<input type="hidden" class="form-control" name="idLiberacion" value="@ViewBag.IDLibera">
<h2>Calidad</h2>

@using (Html.BeginForm("Calidad", "OrdenProduccion", FormMethod.Post))
{

    <div class="text-danger"><h5>@ViewBag.Mensaje</h5></div>
    <br />
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <input type="hidden" name="CodigoLetra" value="@ViewBag.Letra">
        <input type="hidden" name="IDLiberacion" value="@ViewBag.IDLibera">
        <div class="col col-md-6 col-sm-1">
            <div class="form-group">
                <h4>Numero de orden: @ViewBag.orden.IDOrden</h4>
                <input type="hidden" name="Orden" value="@ViewBag.orden.IDOrden">
            </div>

        </div>

    </div>

    <div class="form-group">
        @Html.Label("Articulo", new { @class = "control-label col-md-2" })

        <div class="col-md-8">
            <h3 class="text-info">@ViewBag.Articulo.Cref </h3>   @ViewBag.Articulo.Descripcion
            <input type="hidden" name="IDArticulo" value="@ViewBag.Articulo.IDArticulo">
        </div>

    </div>

    <div class="form-group">
        @Html.Label("Cliente", new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.DropDownList("IDCliente", ViewBag.IDCliente as List<SelectListItem>, new { @class = "form-control", name = "IDCliente", id = "IDCliente" })
        </div>
    </div>






    <div class="row">
        <div class="col col-md-6 col-sm-1">
            <div class="form-group">
                @Html.Label("Cantidad liberada", new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @ViewBag.liberacion.Cantidad
                    <input type="hidden" name="Cantidad" value="@ViewBag.CantidadLiberada">

                </div>
            </div>
        </div>

        <div class="col col-md-6 col-sm-1">

            <div class="form-group">
                @Html.Label("Fecha Certificado", new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @{
                        string fecha = DateTime.Now.Day + "/" + DateTime.Now.Month + "/" + DateTime.Now.Year;
                    }
                    @fecha
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6 col-sm-1">

            <div class="form-group">
                @Html.Label("Inspeccion", new { @class = "control-label col-md-2" })
                <div class="col-md-8">

                    @Html.DropDownList("IDInspeccion", ViewBag.IDInspeccion as List<SelectListItem>, new { @class = "form-control", name = "IDInspeccion", id = "IDInspeccion", @disabled = "disabled" })

                </div>
            </div>
        </div>


        <div class="col col-md-6 col-sm-1">

            <div class="form-group">
                @Html.Label("Muestreo", new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownList("IDMuestreo", ViewBag.IDMuestreo as List<SelectListItem>, new { @class = "form-control", name = "IDMuestreo", id = "IDMuestreo", @disabled = "disabled" })


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6 col-sm-1">
            <div class="form-group">
                @Html.Label("Revisar", new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @ViewBag.Revisar
                </div>
            </div>
        </div>

        <div class="col col-md-6 col-sm-1">
            <div class="form-group">
                @Html.Label("¿Cuantás estuvierón mal?", new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <input type="number" class="form-control" text="0" name="CantidadMal" id="CantidadMal" value="0">
                </div>
            </div>
        </div>
    </div>





    @{
        string[] arraydatos;
               
        arraydatos = ViewBag.Presentacion.Split(',');
        var contador = 0;


        <div class="table-responsive">
                <table class="table table-striped" width="50">
                    <tr>
                        <th style="background-color: #996515; color: #F2F3F4 ">
                            ATRIBUTO
                        </th>
                        <th style="background-color: #996515; color: #F2F3F4 ">
                            ESPECIFICACIÓN
                        </th>
                        <th style="background-color: #996515; color: #F2F3F4 ">
                            UNIDAD
                        </th>
                        <th style="background-color: #996515; color: #F2F3F4 ">
                            MÉTODO
                        </th>
                        <th style="background-color: #996515; color: #F2F3F4 ">
                            RESULTADO
                        </th>

                        <th></th>
                    </tr>

                    @{ for (int i = 0; i < arraydatos.Length; i++)
                        {

                            string cuenta = arraydatos[i];
                            string[] arraydatoscortados;
                            string acc = "";
                            string valor = "";
                            string unidad = "N/A";
                            try
                            {
                                arraydatoscortados = cuenta.Split(':');
                                acc = arraydatoscortados[0] /*+ ": " + arraydatoscortados[1] + "   "*/;
                                valor = arraydatoscortados[1];

                            }
                            catch (Exception err)
                            {

                            }


                            string cadenaP = "Parametro" + contador;
                            string CadenaO = "Valor" + contador;



                            if (acc.ToUpper() != "OBSERVACION")
                            {
                               

                           
                                    <tr>
                                        <td>

                                            @acc.ToUpper()
                                            <input type="hidden" value="@acc" name="@cadenaP" id="@cadenaP" />

                                        </td>
                                        <td>
                                            @{
                                                if (valor=="0")
                                                {
                                                    valor = "N/A";
                                                }
                                                else if (acc=="TINTAS")
                                                {
                                                    valor = "≤ 3.0";
                                                }
                                            }
                                            <input type="hidden" value="@valor" name="@CadenaO" id="@CadenaO" />

                                            @valor.ToUpper()
                                        </td>
                                        <td>
                                            @{
                                                if (acc.ToUpper() == "ANCHO" || acc.ToUpper() == "LARGO")
                                                {
                                                    unidad = "MILIMETROS";
                                                }
                                                else if (acc.ToUpper() == "ETIQUETAXR")
                                                {
                                                    unidad = "PIEZAS";
                                                }
                                                else if (acc.ToUpper() == "CENTRO")
                                                {
                                                    unidad = "PULGADAS";
                                                }
                                                else if (acc.ToUpper() == "TINTAS")
                                                {
                                                    
                                                    unidad = ViewBag.Delta+ "E";
                                                }
                                                else if (acc.ToUpper() == "CYREL")
                                                {
                                                    unidad = "VISUAL";
                                                }


                                                string cadenaaUni = "Unidad" + contador;
                                            }
                                            <input type="hidden" value="@unidad" name="@cadenaaUni" id="@cadenaaUni" />


                                            @unidad
                                        </td>
                                        <td>
                                            @{string cadenaal = "IDMetodo" + contador;
                                                var Metodos = new SIAAPI.Models.Calidad.MetodoContext().Database.SqlQuery<SIAAPI.Models.Calidad.Metodo>("select * from Metodo").ToList();

                                            }
                                            <select name="@cadenaal" id="@cadenaal">
                                                @{ foreach (SIAAPI.Models.Calidad.Metodo metodo in Metodos)
                                                    {
                                                        if (acc.ToUpper() == "ANCHO" || acc.ToUpper() == "LARGO")
                                                        {
                                                            if (metodo.Descripcion == "+- 1")
                                                            {

                                                                <option value="@metodo.Descripcion" selected>@metodo.Descripcion</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@metodo.Descripcion">@metodo.Descripcion</option>
                                                            }
                                                        }

                                                        else if (acc.ToUpper() == "TINTAS")
                                                        {
                                                            if (metodo.Descripcion == "ESPECTRODENSITÓMETRO")
                                                            {

                                                                <option value="@metodo.Descripcion" selected>@metodo.Descripcion</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@metodo.Descripcion">@metodo.Descripcion</option>
                                                            }
                                                        }
                                                        else if (acc.ToUpper() == "EMBOBINADO")
                                                        {
                                                            if (metodo.Descripcion == "FSG-22 EMBOBINADOS*")
                                                            {

                                                                <option value="@metodo.Descripcion" selected>@metodo.Descripcion</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@metodo.Descripcion">@metodo.Descripcion</option>
                                                            }
                                                        }
                                                        else if (acc.ToUpper() == "CENTRO" || acc.ToUpper()=="ACABADO" || acc.ToUpper()=="MATERIAL")
                                                        {
                                                            if (metodo.Descripcion == "VISUAL")
                                                            {

                                                                <option value="@metodo.Descripcion" selected>@metodo.Descripcion</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@metodo.Descripcion">@metodo.Descripcion</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (metodo.Descripcion == "PSG-10 CALIDAD*")
                                                            {

                                                                <option value="@metodo.Descripcion" selected>@metodo.Descripcion</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@metodo.Descripcion">@metodo.Descripcion</option>
                                                            }
                                                        }


                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            @{string cadenaR = "Resultado" + contador;
                                                if (valor == "0")
                                                {
                                                    valor = "N/A";
                                                }
                                                else if (acc == "TINTAS")
                                                {
                                                    valor = "≤ 3.0";
                                                }
                                            }
                                           
                                            <input type="text" step="any" class="form-control" id="@cadenaR" name="@cadenaR" value="@valor">

                                        </td>
                                    </tr>           
                                

                            }




                            contador++;
                        }

                    }

                </table>
        </div>





    }

</div>






                                    SIAAPI.Models.Comercial.Clientes cliente = new SIAAPI.Models.Comercial.ClientesContext().Clientes.Find(ViewBag.Cliente);




        <div>
            <div>@cliente.Nombre </div>
            @if (cliente.FacturacionExacta == true)
            {
                <div>Factura Exacto </div>
            }
            else
            {
                <div>Acepta Margen</div>
            }
            @if (cliente.CertificadoCalidad == true)
            {
                <div>Requiere Certificado</div>
            }
            else
            {
                <div>No requiere Certificado</div>
            }
        </div>


        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" class="btn btn-success btn-xs" /> | @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })
            </div>
        </div>

                                    }

