

@{
    ViewBag.Title = "Documento";
    Layout = "~/Views/Shared/_LayoutProduccion.cshtml";
}

<h3>Agregar Documento a Planeación</h3>
<hr />

@using (Html.BeginForm("Documento", "OrdenProduccion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <input type="hidden" id="idorden" name="idorden" value="@ViewBag.idorden" />
        <input type="hidden" id="idproceso" name="idproceso" value="@ViewBag.idproceso" />

        <div class="form-group">
            @Html.Label("Descripción de Documento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <input type="text" name="Descripcion" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label(" ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <input type="file" name="file" >

                </div>
            </div>


        </div>

   
        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" class="btn btn-success btn-xs" />|@Html.ActionLink("Regresar a la lista", "ArticuloProduccion", new { id = ViewBag.idproceso,idorden=ViewBag.idorden }, new { @class = "btn btn-default btn-xs" })
            </div>


        </div>
        }

