@model SIAAPI.Models.Comercial.VFamilia

<div>
    <h3>Detalles de Familia de Atributos</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CCodFam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCodFam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaveSat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveSat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductoSat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductoSat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClaveSTCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveSTCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductoSTCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductoSTCC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FactorMinimoGanancia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FactorMinimoGanancia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoArticulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoArticulo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDFamilia }, new { @class = "btn btn-success btn-xs" }) |
    @Html.ActionLink("Regresar a la lista", "Index",null, new { @class = "btn btn-default btn-xs" })
</p>
