@*@model IEnumerable<SIAAPI.Models.Cfdi.Encfacturas>*@

<globalization uiCulture="auto" culture="auto" />
@*Paginación*@
<script src="~/Scripts/jquery-3.2.1.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () { // Submit pageSizeForm when another pageSize value is selected
        $("#pageSize").change(function () {
            $("#pageSizeForm").submit();
        });
    });
</script>
@model PagedList.IPagedList<SIAAPI.Models.Cfdi.Encfacturas>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@*Paginación*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewBag.cliente != null)
{
    <div class="table-responsive">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <h3>
                        Facturas del Cliente
                    </h3>
                <tr>
                    <th>RFC</th>
                    <th>Empresa</th>
                </tr>
            </thead>

            @foreach (var item in ViewBag.cliente)
            {
                <tr>
                    <td>@item.RFC</td>
                    <td>@item.Nombre </td>
                </tr>
            }

        </table>
    </div>
}
<hr />


@*Busqueda*@
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <form class="navbar-form navbar-left">
            <div class="form-group">
                @using (Html.BeginForm())
                {
                    <div>
                        Elementos por págna: @Html.DropDownList("pageSize")

                    </div>
                    <div>
                        <p>
                            Factura/Nota: @Html.DropDownList("TipoFac", (IEnumerable<SelectListItem>)ViewData["TipoFac"], "Todas")
                            Facturas: @Html.DropDownList("FacPag", (IEnumerable<SelectListItem>)ViewData["FacPag"], "Todas")
                            No. Factura: @Html.TextBox("Numero")
                         </p>

                        <p>
                            @*Fecha inicio: @Html.TextBox("Fechainicio", ViewBag.Fechainicio as string, new { @placeholder = "AAAA-MM-DD" })
            Fecha final:  @Html.TextBox("Fechafinal", ViewBag.Fechafinal as string, new { @placeholder = "AAAA-MM-DD" })*@
                            Fecha inicio: @Html.TextBox("Fechainicio", ViewBag.Fechainicio as string, new { type = "date" })
                            Fecha final:  @Html.TextBox("Fechafinal", ViewBag.Fechafinal as string, new { type = "date" })

                            <input type="submit" value="Aplicar" class="btn btn-primary btn-xs" /><span class="sr-only">(current)</span>
                        </p>
                    </div>
                }

            </div>
        </form>
    </div>
</nav>
<br>
@*Busqueda*@
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.c_Moneda.ClaveMoneda)
        </th>*@

        <th>
            @Html.Label("Serie")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Numero)*@
            @Html.ActionLink("Numero", "Index", new { sortOrder = ViewBag.NumeroSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Fecha)*@
            @Html.ActionLink("Fecha", "Index", new { sortOrder = ViewBag.FechaSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
      
        <th>
            @*@Html.DisplayNameFor(model => model.Subtotal)*@
            @Html.Label("Subtotal")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.IVA)*@
            @Html.Label("IVA")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Total)*@
            @Html.Label("Total")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Moneda)*@
            @Html.Label("Moneda")
        </th>
        <th>
            @Html.Label("XML")
        </th>
        <th>
             @Html.Label("PDF")
        </th>
        @*<th>
        @Html.DisplayNameFor(model => model.UUID)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.RutaXML)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.pagada)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.TC)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Moneda)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Estado)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.IDMetododepago)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ConPagos)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.IDCliente)
    </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.c_Moneda.ClaveMoneda)
        </td>*@
       
        <td>
            @Html.DisplayFor(modelItem => item.Serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Nombre_cliente)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IVA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moneda)
        </td>
        @*<td>
        @Html.DisplayFor(modelItem => item.UUID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RutaXML)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pagada)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Moneda)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IDMetododepago)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ConPagos)
    </td>*@
        <td class="hidden">
            @Html.HiddenFor(modelItem => item.IDCliente)
        </td>
        <td>
            @Html.ActionLink("XML", "Descargarxml", new { id = item.ID }, new { @class = "btn btn-warning btn-xs" })
        </td>
        <td>
            @Html.ActionLink("PDF", "DescargarPdf", new { id = item.ID }, new { @class = "btn btn-primary btn-xs" })
        </td>
        @if (item.ConPagos == true)
                {
            <td>
                @Html.ActionLink("Ver Pagos", "VPagosC", new { id = item.ID })
            </td>
        }
        else
        {
            <td></td>
        }
    </tr>
}

</table>

<br />
<div class="table-responsive">
    <table class="table table-striped" width="50">
        <tr>
            <th class="col-lg-1">
                Moneda Origen
            </th>
            <th class="col-lg-1">
                Subtotal
            </th>
            <th class="col-lg-1">
                IVA
            </th>
            <th class="col-lg-1">
                Total
            </th>
            <th class="col-lg-1">
                Total en Pesos Mexicanos
            </th>
        </tr>
        @foreach (var itemresumen in ViewBag.sumatoria)
            {

            <tr>
                <td class="col-lg-1">
                    @itemresumen.MonedaOrigen
                </td>
                <td class="col-lg-1">
                    @String.Format("{0:C}", itemresumen.Subtotal)
                </td>
                <td class="col-lg-1">
                    @String.Format("{0:C}", itemresumen.IVA)
                </td>
                <td class="col-lg-1">
                    @String.Format("{0:C}", itemresumen.Total)
                </td>
                <td class="col-lg-1">
                    @String.Format("{0:C}", itemresumen.TotalenPesos)
                </td>

            </tr>
        }
    </table>
</div>

<div class="row">

    <!-- panel-primary-->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Saldo actual  </div>
                        <div></div>
                    </div>
                </div>
            </div>
            @*<a href="#">*@
            <div class="panel-footer">

                <div class="table-responsive">
                    <table class="table table-striped-dark" width="50">
                        <thead class="thead-dark">
                            <tr>
                                <th class="col-lg-1">
                                    Moneda Origen
                                </th>

                                <th class="col-lg-1">
                                    Saldo Actual
                                </th>
                                <th class="col-lg-1">
                                    Total en Pesos Mexicanos
                                </th>
                            </tr>
                        </thead>
                        @foreach (var itemSI in ViewBag.sumSaldoI)
                        {

                            <tr>
                                <td class="col-lg-1">
                                    @itemSI.MonedaOrigen
                                </td>

                                <td class="col-lg-1">
                                    @String.Format("{0:C}", itemSI.SaldoActual)
                                </td>
                                <td class="col-lg-1">
                                    @String.Format("{0:C}", itemSI.TotalenPesos)
                                </td>

                            </tr>
                        }
                    </table>

                    <div class="clearfix"></div>
                </div>
                @*</a>*@
            </div>
        </div>

        <br />

    </div>



@*Paginación*@
@using (Html.BeginForm("Index", "FacturaC", FormMethod.Get, new { id = "pageSizeForm" }))
            {
    <div class="pager">
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount<br />

        @Model.Count de @Model.TotalItemCount elementos

        @Html.PagedListPager(Model, page => Url.Action("Index", new
   {
       page,
       sortOrder = ViewBag.CurrentSort,
       currentFilter = ViewBag.CurrentFilter,
       Fechainicio = ViewBag.Fechainicio,
       FechaFinal = ViewBag.Fechafinal,
       pageSize = ViewBag.psize,
       Numero = ViewBag.Numero,
       FacPag = ViewBag.FacPagSeleccionada,
       TipoFac = ViewBag.TipoFacseleccionada
   }))
    </div>



}
@*Paginación*@


<script src="~/Scripts/libs/salert/sweetalert.min.js"></script>

<script>

        $(function(){
            $("#FacPag").on("change", function() {
             @ViewBag.FacPagseleccionada=  $('[id$=FacPag] option:selected').text();

            });
        });
</script>