@model SIAAPI.Models.CartaPorte.c_TipoEstacion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Detalles Tipo Estación</h3>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionEstacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionEstacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaveTransporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveTransporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FFVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FFVigencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDTEstacion }, new { @class = "btn btn-success btn-xs" })
    @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })
</p>
