@model SIAAPI.Models.CartaPorte.c_ContenedorMaritimo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Detalles Contenedor Marítimo</h3>

<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClaveContenedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveContenedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIvigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIvigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FFvigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FFvigencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDCMaritimo }, new { @class = "btn btn-success btn-xs" }) @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })
</p>
