@model SIAAPI.Models.Comercial.BancosProv

<div>
    <h3>Detalles de Banco de Proveedor: @Html.DisplayFor(model => model.Proveedor.Empresa)</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDBanco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banco.ClaveBanco)|@Html.DisplayFor(model => model.Banco.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDMoneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moneda.ClaveMoneda)|@Html.DisplayFor(model => model.Moneda.Descripcion)
        </dd>


      

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentaClabe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaClabe)
        </dd>

    </dl>
</div>


<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDProveedor, searchString = ViewBag.searchString }, new { @class = "btn btn-success btn-xs" }) |
    @Html.ActionLink("Regresar a proveedor", "details", new { id = Model.IDProveedor, searchString = ViewBag.searchString }, new { @class = "btn btn-default btn-xs" })
</p>
