@*@model IEnumerable<SIAAPI.Models.Comercial.DetRecepcion>
    @{
        ViewBag.Title = "DevolucionCintasRecepcion";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>
        Devolución Cintas Recepción
    </h2>

    <div class="table-responsive">
        <table class="table table-striped" width="50">
            <tr>

                <th>
                    @Html.Label("Clave")
                </th>
                <th>
                    @Html.Label("Descripcion")
                </th>
                <th>
                    @Html.Label("Num Presentacion")
                </th>
                <th>
                    @Html.Label("Presentación")
                </th>


            </tr>


            @foreach (SIAAPI.Models.Comercial.DetRecepcion item in Model)
            {
                SIAAPI.Models.Comercial.ArticuloContext dd = new SIAAPI.Models.Comercial.ArticuloContext();
                SIAAPI.Models.Comercial.Articulo articulo = new SIAAPI.Models.Comercial.ArticuloContext().Articulo.Find(item.IDArticulo);
                SIAAPI.Models.Comercial.Caracteristica caracteristicas = new SIAAPI.Models.Comercial.ArticuloContext().Database.SqlQuery<SIAAPI.Models.Comercial.Caracteristica>("select * from Caracteristica where id=" + item.Caracteristica_ID).ToList().FirstOrDefault();



                <tr>
                    <td>
                        @articulo.Cref
                    </td>
                    <td>
                        @articulo.Descripcion
                    </td>
                    <td>
                        @caracteristicas.IDPresentacion
                    </td>
                    <td>
                        @caracteristicas.Presentacion
                    </td>


                </tr>
            }
        </table>
    </div>


    <div class="table-responsive">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Cref</th>

                    <th>Lote</th>
                    <th>Lote interno</th>
                    <th>M2 cinta</th>
                    <th>M2 ocupados</th>
                    <th>M2 disponibles</th>
                    <th>Metros lineales</th>
                    <th>Metros ocupados</th>
                    <th>Metros disponibles</th>
                    <th>Regreso</th>


                </tr>
            </thead>

            @{try
                {
                    var contador = 0;

                    foreach (var item in Model)
                    {
                        contador++;

                        var nombrepeso = "Peso" + contador;
                        var nombremetro = "Metro" + contador;
                        SIAAPI.Models.Inventarios.InventarioContext db = new SIAAPI.Models.Inventarios.InventarioContext();
                        SIAAPI.Models.Comercial.ClsDatoString cref = db.Database.SqlQuery<SIAAPI.Models.Comercial.ClsDatoString>("select cref as Dato from Articulo where idArticulo=" + item.IDArticulo + "").ToList()[0];
                        SIAAPI.Models.Comercial.ClsDatoString presentacion = db.Database.SqlQuery<SIAAPI.Models.Comercial.ClsDatoString>("select presentacion as Dato from  [VArtCaracteristica] where idcaracteristica=" + item.Caracteristica_ID + "").ToList()[0];
                        SIAAPI.Models.Inventarios.Clslotemp lote = db.Database.SqlQuery<SIAAPI.Models.Inventarios.Clslotemp>("select * from  [Clslotemp] where IDDetOrdencompra=" + item.IDDetRecepcion + "").ToList()[0];



                        <tr>
                            <td>@cref.Dato</td>


                            <td>@lote.Lote</td>
                            <td>@lote.LoteInterno</td>
                            <td>@lote.MetrosCuadrados</td>
                            <td>@lote.Metrosutilizados</td>
                            <td>@lote.MetrosDisponibles</td>
                            <td>@lote.Largo</td>



                            @{
                                decimal regla = (lote.MetrosDisponibles * Convert.ToDecimal(lote.Largo)) / lote.MetrosCuadrados;
                                decimal md = Convert.ToDecimal(lote.Largo) - regla;

                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        <form method="post" action='@Url.Action("EditMP", "Almacen", new { id = item.IDDetExterna})'>
                                            <div class="col-xs-6">

                                                Peso:   <input class="form-control smallTxt" type="text" name="@nombrepeso" id="@nombrepeso" onkeyup="Actualizapeso('@cref.Dato',@contador,'@nombremetro')" autofocus />
                                                ML:     <input class="form-control smallTxt" type="number" placeholder="0" value="0" min="0" step="any" data-number-to-fixed="3" data-number-stepfactor="100" name="Metro" id="@nombremetro" required />
                                                <input type="hidden" class="form-control" value="@item.IDDetExterna" name="idorden" id="idorden" placeholder="0">
                                            </div>

                                            <button class="fa fa-floppy-o fa-2x" style="color:green" type="submit" id="ocultar" onclick="myFunction()"></button>
                                        </form>


                                    </td>



                            }


                        </tr>





                    }












                }
                catch (Exception err)
                {

                }








            }

        </table>


    </div>
    <div class="row center-block">

        @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default" })
    </div>*@

@model IEnumerable<SIAAPI.Models.Comercial.DetRecepcion>
@{
    ViewBag.Title = "DevolucionCintasRecepcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Devolución Cintas Recepción
</h2>

<div class="table-responsive">
    <table class="table table-striped" width="50">
        <tr>

            <th>
                @Html.Label("Clave")
            </th>
            <th>
                @Html.Label("Descripcion")
            </th>
            <th>
                @Html.Label("Num Presentacion")
            </th>
            <th>
                @Html.Label("Presentación")
            </th>


        </tr>

        @*@{
                string cadenaw = "  select * from [WorkinProcess] as w inner join articulo as a on w.idarticulo=a.idarticulo where a.idtipoarticulo=6 and orden=" + ViewBag.ordenproduccion.IDOrden;

                List<SIAAPI.Models.Produccion.WorkinProcess> elementosw = new SIAAPI.Models.Produccion.WorkinProcessContext().Database.SqlQuery<SIAAPI.Models.Produccion.WorkinProcess>(cadenaw).ToList();

            }*@
        @foreach (SIAAPI.Models.Comercial.DetRecepcion item in Model)
        {
            SIAAPI.Models.Comercial.ArticuloContext dd = new SIAAPI.Models.Comercial.ArticuloContext();
            SIAAPI.Models.Comercial.Articulo articulo = new SIAAPI.Models.Comercial.ArticuloContext().Articulo.Find(item.IDArticulo);
            SIAAPI.Models.Comercial.Caracteristica caracteristicas = new SIAAPI.Models.Comercial.ArticuloContext().Database.SqlQuery<SIAAPI.Models.Comercial.Caracteristica>("select * from Caracteristica where id=" + item.Caracteristica_ID).ToList().FirstOrDefault();



            <tr>
                <td>
                    @articulo.Cref
                </td>
                <td>
                    @articulo.Descripcion
                </td>
                <td>
                    @caracteristicas.IDPresentacion
                </td>
                <td>
                    @caracteristicas.Presentacion
                </td>


            </tr>
        }
    </table>
</div>


<table class="table">


    @foreach (SIAAPI.Models.Comercial.DetRecepcion item in Model)
    {
        @*<tr>

            <div class="form-horizontal">
                <input type="hidden" id="remision" name="remision" value="@item.IDRecepcion" />
                <div class="form-group">
                    @Html.Label("Codigo de Lote", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" id="lote" name="lote" onkeyup="asignarMP(event)" />
                    </div>
                </div>
            </div>


        </tr>*@

        List<SIAAPI.Models.Inventarios.Clslotemp> lotes = new SIAAPI.Models.Inventarios.AjustesAlmacenContext().Database.SqlQuery<SIAAPI.Models.Inventarios.Clslotemp>("Select * from clslotemp where IDArticulo=" + item.IDArticulo + " and idCaracteristica =" + item.Caracteristica_ID + " and IDDetOrdenCompra="+ item.IDDetRecepcion).ToList();

        <tr>
            <table class="table">
                <tr>
                    <td>
                        <h2>
                            Lotes disponibles
                        </h2>
                    </td>

                </tr>
            </table>
        </tr>



        <tr>
           
            <table class="table" style="color:blue">

                <tr>
                    <th>
                        No de cinta
                    </th>
                    <th>
                        Lote
                    </th>
                    <th>
                        Lote interno
                    </th>
                    <th>
                        Mts2 Disponibles
                    </th>
                    <th>
                        Mts Lineales Disponibles
                    </th>
                    <th>
                       
                    </th>
                </tr>
                @foreach (SIAAPI.Models.Inventarios.Clslotemp lote in lotes)
                {
                    string[] separado;
                    separado = lote.LoteInterno.Split('/');
                    int ancho = int.Parse(separado[1].ToString());
                    int largo = int.Parse(separado[2].ToString());


            <tr>
                <td>
                    @Html.Label(lote.NoCinta.ToString())
                </td>
                <td>
                    @try
                    {
                        @Html.Label(lote.Lote)
                    }
                    catch (Exception err)
                    {

                    }
                </td>
                <td>
                    @Html.Label(lote.LoteInterno)
                </td>
                <td>
                    @lote.MetrosDisponibles
                </td>
                <td>
                    @Html.Label(largo.ToString())
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "EliminarcintaDev", new { id = lote.ID, IDDetRecepcion = lote.IDDetOrdenCompra }, new { @class = "btn btn-default" })
                </td>
            </tr>
                }
            </table>

        </tr>





    }


   




    <div>
        @Html.ActionLink("Regresar al Index", "Index", "EncRemision", null, new { @class = "btn btn-primary btn-large" })


    </div>


</table>
<script src="~/Scripts/libs/jquery_1.10.2/jquery-1.10.2.min.js"></script>
<script>
    function asignarMP(e) {

        var lote = document.getElementById("lote").value;
        var idremision = document.getElementById("remision").value;

        var url = "/EncRemision/descontarlote";
        if (e.keyCode === 13) {
            e.preventDefault();

            $.post(url, { loteinterno: lote, remision: idremision }, function (response) {

                window.location.reload(true);

            })
        }
    }
</script>
<script>

        var url = '@Url.Action("Deleteremi", "EncRemision")';
        $('.delete').click(function () {
            var row = $(this).closest('tr');
            $.post(url, { id: $(this).data('id') }, function (response) {
                if (response) {
                    location.reload();
                    row.remove();

                }
            }).fail(function (response) {
                // display error message?
            });
        });
</script>