@model SIAAPI.Models.Comercial.EncRecepcion

@{
    ViewBag.Title = "EditarPrecio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Editar Precio</h3>

<h4>Recepción no. @Html.DisplayFor(model => model.IDRecepcion)</h4>

<div>
    <hr />

    @*<dl class="dl-horizontal">*@
    <div class="row">
        <div class="columna col-md-4 col-sm-1">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.IDProveedor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Proveedor.Empresa)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fecha)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fecha)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Observacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Observacion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IDUsoCFDI)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.c_UsoCFDI.Descripcion)
                </dd>
                @*@if (Model.DocumentoFactura != null)
                    {
                        <dd>
                            @Html.ActionLink("Ver Factura Ticket  " + Model.DocumentoFactura, "DescargarPDF", "FacturaProv", new { id = Model.DocumentoFactura }, new { @class = "btn btn-info btn-xs" })
                        </dd>
                    }*@

            </dl>
            </dl>
        </div>


        <div class="columna col-md-4 col-sm-1">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.IDFormapago)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.c_FormaPago.ClaveFormaPago)|@Html.DisplayFor(model => model.c_FormaPago.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IDMetodoPago)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.c_MetodoPago.ClaveMetodoPago)|@Html.DisplayFor(model => model.c_MetodoPago.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IDMoneda)
                </dt>

                <dd>

                    @Html.DisplayFor(model => model.c_Moneda.ClaveMoneda)|@Html.DisplayFor(model => model.c_Moneda.Descripcion)

                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TipoCambio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TipoCambio)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IDCondicionesPago)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CondicionesPago.ClaveCondicionesPago)|@Html.DisplayFor(model => model.CondicionesPago.Descripcion)
                </dd>


        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>

                    <th>Orden de Compra</th>
                    <th>Clave</th>
                    <th>Artículo</th>
                    <th>Presentación</th>
                    <th>Nota</th>
                    <th>Compra Mínima</th>
                    <th>Cantidad</th>
                    <th>Devolución</th>
                    <th>Precio</th>
                    <th>Importe</th>
                    <th>IVA</th>
                    <th>Total</th>

                </tr>
            </thead>

            @foreach (SIAAPI.ViewModels.Comercial.VDetRecepcion item in ViewBag.req)
            {

                <input type="hidden" id="id" name="id" value="@item.IDDetRecepcion" />
                SIAAPI.Models.Comercial.ArticuloContext db = new SIAAPI.Models.Comercial.ArticuloContext();
                SIAAPI.Models.Comercial.Caracteristica articuloc = db.Database.SqlQuery<SIAAPI.Models.Comercial.Caracteristica>("select * from Caracteristica where ID=" + item.Caracteristica_ID).ToList().FirstOrDefault();

                SIAAPI.Models.Comercial.Articulo articuloo = db.Articulo.Find(articuloc.Articulo_IDArticulo);

                if (item.Status.Equals("Cancelado"))
                {
                    <tr class="danger">

                        <td>@item.IDExterna</td>
                        <td>Clave</td>
                        <td>@item.Articulo</td>
                        <td>@item.Presentacion</td>
                        <td>@item.Nota</td>
                        <td>@item.MinimoCompra</td>
                        <td>@item.Cantidad</td>
                        <td><input type="text" name="precio" id="precio" value="@item.Costo" /></td>
                        <td>@string.Format("{0:C}", @item.Importe)</td>
                        <td>@string.Format("{0:C}", @item.ImporteIva)</td>
                        <td>@string.Format("{0:C}", @item.ImporteTotal)</td>
                    </tr>
                }
                else
                {

                    <tr>
                        <td>@item.IDExterna</td>
                        <td>@articuloo.Cref</td>
                        @if (item.Status.Equals("Devuelto"))
                        {
                            <td class="warning">
                                @item.Articulo
                            </td>
                        }
                        else if (item.Status.Equals("Activo"))
                        {
                            <td class="success">
                                @item.Articulo
                            </td>
                        }
                        else if (item.Status.Equals("Finalizado"))
                        {
                            <td>
                                @item.Articulo
                            </td>
                        }
                        <td>@item.Presentacion</td>
                        <td>@item.Nota</td>
                        <td>@item.MinimoCompra</td>
                        <td>@item.Cantidad</td>
                        <td>@item.Devolucion</td>
                        <td><input type="text" name="precio" id="precio" value="@item.Costo" /></td>
                        <td>@string.Format("{0:C}", @item.Importe)</td>
                        <td>@string.Format("{0:C}", @item.ImporteIva)</td>
                        <td>@string.Format("{0:C}", @item.ImporteTotal)</td>
                    </tr>
                    @*<tr>
                            <td>
                                @{

                                    if (articuloo.IDTipoArticulo == 6)
                                    {
                                        <div>@Html.ActionLink("Lotes", "Detallecintas", new { IDDetRecepcion = item.IDDetRecepcion }, new { @class = "btn btn-warning btn-xs" })</div>
                                        <div>@Html.ActionLink("Imprimir Etiquetas", "ImprimirEtiquetas", new { IDDetRecepcion = item.IDDetRecepcion }, new { @class = "btn btn-info" })</div>


                                        @Html.ActionLink("Asignar Ubicacion", "DetallecintasRec", "LayoutUbicacion", new { IDDetRecepcion = item.IDDetRecepcion }, new { @class = "btn btn-info btn-xs" })



                                    }
                                    else
                                    {
                                        SIAAPI.Models.Comercial.DetUbicacionesRec det = new SIAAPI.Models.Comercial.LUbicacionContext().Database.SqlQuery<SIAAPI.Models.Comercial.DetUbicacionesRec>("select*from DetUbicacionesRec where iddetdocumento=" + item.IDDetRecepcion).ToList().FirstOrDefault();

                                        if (det == null)
                                        {
                                            @Html.ActionLink("Asignar Ubicacion", "AsignarUbicacion", "LayoutUbicacion", new { IDDetRecepcion = item.IDDetRecepcion, Documento = "Recepcion" }, new { @class = "btn btn-info btn-xs" })

                                        }

                                    }

                                }

                            </td>
                        </tr>*@
                }
            }
        </table>
        <p>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Grabar" class="btn btn-success btn-xs" />

                </div>
            </div>
        </p>
    </div>
}

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th class="col-lg-1">
                Moneda Origen
            </th>
            <th class="col-lg-1">
                Subtotal
            </th>
            <th class="col-lg-1">
                IVA
            </th>
            <th class="col-lg-1">
                Total
            </th>
            <th class="col-lg-1">
                Total en Pesos Mexicanos
            </th>
        </tr>
        @foreach (var itemresumen in ViewBag.sumatoria)
        {

            <tr>
                <td class="col-lg-1">
                    @itemresumen.MonedaOrigen
                </td>
                <td class="col-lg-1">
                    @String.Format("{0:C}", itemresumen.Subtotal)
                </td>
                <td class="col-lg-1">
                    @String.Format("{0:C}", itemresumen.IVA)
                </td>
                <td class="col-lg-1">
                    @String.Format("{0:C}", itemresumen.Total)
                </td>
                <td class="col-lg-1">
                    @String.Format("{0:C}", itemresumen.TotalenPesos)
                </td>

            </tr>
        }
    </table>
</div>

<h5 align="right">Elaboró: @Html.DisplayFor(model => model.User.Username)</h5>
<p>
    @*@Html.ActionLink("Editar", "Edit", new { id = Model.IDRequisicion }, new { @class = "btn btn-success" }) |*@
    @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })
</p>
