@*@model IEnumerable<SIAAPI.Models.Cfdi.VPagoFactura>*@
@*Paginación*@
<script src="~/Scripts/jquery-3.2.1.js" type="text/javascript"></script>

@model PagedList.IPagedList<SIAAPI.Models.Cfdi.VPagoFactura>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@*Paginación*@

@{
            ViewBag.Title = "PagosElectrónicos";
            Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Pagos Electrónicos de Facturas de Clientes </h3>
<hr />
<hr />
<div class="form-group">
    @Html.ActionLink("Pago Electrónico", "Index", null, new { @class = "btn btn-success btn-xs" })
    @Html.ActionLink("Pago Efectivo", "IndexEfe", null, new { @class = "btn btn-success btn-outline btn-xs" })
  
</div>

@*Busqueda*@
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <form class="navbar-form navbar-left">
            <div class="form-group">
                @using (Html.BeginForm())
                {

                    <div>
                        Elementos por página: @Html.DropDownList("pageSize")

                    </div>
                    <div>


                        <row>
                            Cliente: @Html.DropDownList("ClieFac", "Todas")
                        </row>
                        <row>
                            Estado: @Html.DropDownList("Estado", "Todas")
                        </row>
                        <div>
                            <row>
                                Id Inicial: @Html.TextBox("Numero")
                                Id final: @Html.TextBox("Numerof")
                            </row>
                            <row>
                                Fecha inicio: @Html.TextBox("Fechainicio", ViewBag.Fechainicio as string, new { type = "date" })
                                Fecha final:  @Html.TextBox("Fechafinal", ViewBag.Fechafinal as string, new { type = "date" })
                            </row>
                            <input type="submit" value="Aplicar" class="btn btn-primary btn-xs" /><span class="sr-only">(current)</span>
                        </div>
                    </div>
                    <div class="dropdown dropright col-xs-2">
                        <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split btn-xs " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reportes de Pago Facturas por
                            <span class="caret"></span>
                            <span class="sr-only"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <ul>
                                <li> <a class="dropdown-item" href="@Url.Action("CreaReporteGeneralClie")">Cliente</a></li>
                                <li> <a class="dropdown-item" href="@Url.Action("CreaReporteporFPagoClie")">Forma de Pago</a></li>
                                <li> <a class="dropdown-item" href="@Url.Action("CreaReporteporMonedaClie")">Moneda</a></li>
                                <li> <a class="dropdown-item" href="@Url.Action("CreaReporteOficinaClie")">Oficina</a></li>
                                <li> <a class="dropdown-item" href="@Url.Action("PeriodoFechasPagoF")">Facturas pagada s/NC ni anticipo </a></li>
                                <li> <a class="dropdown-item" href="@Url.Action("EntreFechasPago")">Listado Excel</a></li>
                            </ul>
                        </div>
                    </div>
                   
                }

            </div>
        </form>
    </div>
</nav>
<br>
@*Busqueda*@







    @using (Html.BeginForm())
    {
        <p>
            @Html.ActionLink("Generar Pago", "PagarFactura", null, new { @class = "btn btn-warning btn-xs" })
            <input type="button" value="Descargar Poliza" class="btn btn-success btn-xs" onclick="DesPoliza()" /><span class="sr-only">(current)</span>
        </p>
      
        <br />
        Html.RenderPartial("VPagoFactura", ViewData["VPagoFactura"]);
       
      

 }
@*Paginación*@
@using (Html.BeginForm("Index", "PagoFactura", FormMethod.Get, new { id = "pageSizeForm" }))
            {
    <div class="pager">
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount<br />

        @Model.Count de @Model.TotalItemCount elementos

        @Html.PagedListPager(Model, page => Url.Action("Index", new
   {
       page,
       sortOrder = ViewBag.CurrentSort,
       currentFilter = ViewBag.CurrentFilter,
       Fechainicio = ViewBag.Fechainicio,
       Fechafinal = ViewBag.Fechafinal,
       ClieFac = ViewBag.Clienteseleccionado,
       pageSize = ViewBag.psize
   }))


    </div>
}
@*Paginación*@

<script>

   
    function DesExcel() {
        var urledit = '@Url.Action("DescargaExcel", "FacturaAll")';
        var Numero = $("input[id$=Numero]").val();

        var SerieFac = $('[id$=SerieFac] option:selected').text();
        var ClieFac = $('[id$=ClieFac] option:selected').text();
        var sortOrder = $("input[id$=sortOrder]").val();
        var currentFilter = $("input[id$=currentFilter]").val();
        var Fechainicio = $("input[id$=Fechainicio]").val();
        var Fechafinal = $("input[id$=Fechafinal]").val();
        var FacPag = $('[id$=FacPag] option:selected').text();
        var Estado = $('[id$=Estado] option:selected').text();


        var urledit =urledit+ "?FacPag=" + FacPag +"&SerieFac=" + SerieFac +"&ClieFac=" + ClieFac +"&Estado=" +Estado +"&Numero=" + Numero +"&Fechainicio=" + Fechainicio +"&Fechafinal=" +Fechafinal
        window.location.href = urledit



    }
    function DesPoliza() {
        var urledit = '@Url.Action("DescargaPoliza", "PagoFactura")';
        var Numero = $("input[id$=Numero]").val();
        var Numerof = $("input[id$=Numerof]").val();
        var SerieFac = $('[id$=SerieFac] option:selected').text();
        var ClieFac = $('[id$=ClieFac] option:selected').text();
        var sortOrder = $("input[id$=sortOrder]").val();
        var currentFilter = $("input[id$=currentFilter]").val();
        var Fechainicio = $("input[id$=Fechainicio]").val();
        var Fechafinal = $("input[id$=Fechafinal]").val();
        var FacPag = $('[id$=FacPag] option:selected').text();
        var Estado = $('[id$=Estado] option:selected').text();


        var urledit = urledit + "?FacPag=" + FacPag + "&SerieFac=" + SerieFac + "&ClieFac=" + ClieFac + "&Estado=" + Estado + "&Numero=" + Numero + "&Numerof=" + Numerof + "&Fechainicio=" + Fechainicio + "&Fechafinal=" + Fechafinal
        window.location.href = urledit



    }

</script>

<script>


    $(function(){
        $("#ClieFac").on("change", function() {
            @ViewBag.Clienteseleccionado=  $('[id$=ClieFac] option:selected').text();

        });
    });

    $(function(){
        $("#Estado").on("change", function() {
            @ViewBag.Estadoseleccionado=  $('[id$=Estado] option:selected').text();

        });
    });


    $(function(){
        $("#pageSize").on("change", function() {
            @ViewBag.pzise=  $('[id$=pageSize] option:selected').text();

        });
    });






</script>
