@model SIAAPI.Models.Comercial.ContactosPros

@{
    ViewBag.Title = "DetailsContacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Detalles de Contacto de Cliente Prospecto: @Html.DisplayFor(model => model.ClientesP.Nombre)</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.ClientesP.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientesP.Nombre)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            <a href="mailto:#">@Html.DisplayFor(model => model.Email)</a> 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditContacto", new { id = Model.ClientesP.IDClienteP }, new { @class = "btn btn-success btn-xs" }) |
    @Html.ActionLink("Regresar a la lista", "VerContactos", new { id = Model.ClientesP.IDClienteP }, new { @class = "btn btn-default btn-xs" })
</p>
