@model SIAAPI.Reportes.ReporteClientes

@{
    ViewBag.Title = "ReportePorClientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reporte Por Cliente:</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        <br /><br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @*@Html.EditorFor(model => model.Fechafinal, new { htmlAttributes = new { type = "date", @class = "form-control" } })*@
                @Html.DropDownList("IDCliente", ViewBag.clientes as List<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idCliente, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Generar reporte" class="btn btn-info btn-xs" /> | @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })
            </div>
        </div>
    </div>
}