@model SIAAPI.Models.Login.UserRole

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Detalles de Usuario vs Rol</h3>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roles.ROleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roles.ROleName)
        </dd>

      

    </dl>
</div>
<p>
 @Html.ActionLink("Editar", "Edit", new { id = Model.UserRolesID }, new { @class = "btn btn-success btn-xs" }) |
@Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })
</p>
