@model SIAAPI.Models.CartaPorte.c_Colonia

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Eliminar Colonia</h3>

<h4>¿Está seguro que quiere eliminarlo?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C_Colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_CodigoPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_CodigoPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomAsentamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomAsentamiento)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger btn-xs" />  
    @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })
</div>
    }
</div>
