@model SIAAPI.ClasesProduccion.Cotizaciones

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@using (Html.BeginForm())*@

 @using (Html.BeginForm("Edit", "Cotizador",
                               new { page = ViewBag.page, PageSize = ViewBag.pagesize, searchString = ViewBag.searchString, Fechainicio = ViewBag.Fechainicio, Fechafinal = ViewBag.Fechafinal }, FormMethod.Post, null))
 {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Editar Cotización</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
                
        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" class="btn btn-success btn-xs" /> |
                 @Html.ActionLink("Regresar a la lista", "Index", new { page = ViewBag.page, PageSize = ViewBag.pagesize, searchString = ViewBag.searchString, Fechainicio = ViewBag.Fechainicio, Fechafinal = ViewBag.Fechafinal }, new { @class = "btn btn-default btn-xs" })

            </div>
        </div>
    </div>

}

