<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Estilos/plugins/fontawesome-free/css/all.min.css">
    <link href="~/Estilos/Plugins/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Estilos/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Estilos/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Estilos/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link href="~/Estilos/Menu/css/adminlte.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Estilos/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Estilos/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Estilos/plugins/summernote/summernote-bs4.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

       
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="index3.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/imagenes/logo.jpg" alt="SIAAPI" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">SIAAPI</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Alexander Pierce</a>
                    </div>
                </div>

             

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                       

                        @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("GerenteVentas") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("GestionCalidad"))

                        {

                            <li class="nav-item menu">
                                <a href="#" class="nav-link active"><i class="nav-icon fas fa-landmark"></i>Administración<i class="right fas fa-angle-left"></i></a>
                                <!--ul-second-level Administración-->
                                <ul class="nav nav-treeview">
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "Almacenista")" class="nav-link">Almacenistas</a></li>
                                    }
                                    
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "chofer")" class="nav-link">Logística</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "CondicionesPago")" class="nav-link">Condiciones de Pago</a></li>

                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "Empresa")" class="nav-link">Configuracion Empresa</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "c_FormaPago")" class="nav-link">Forma de Pago</a></li>

                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "c_Impuesto")" class="nav-link">Impuesto</a></li>

                                    }
                                   
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "c_MetodoPago")" class="nav-link">Metodo de Pago</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))
                                    {

                                        <li class="nav-item"><a href="@Url.Action("Index", "Paises")" class="nav-link">Paises</a></li>

                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))
                                    {

                                        <li class="nav-item"><a href="@Url.Action("Index", "Estados")" class="nav-link">Estados y/o Provincias</a></li>

                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "c_PeriocidadPago")" class="nav-link">Periocidad de Pago</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "c_ClaveProductoServicio")" class="nav-link">Producto o Servicio</a></li>

                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "c_RegimenFiscal")" class="nav-link">Regimen Fiscal</a></li>

                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "Roles")" class="nav-link">Roles</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "Ruta")" class="nav-link">Rutas</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "c_TipoCadenaPago")" class="nav-link">Tipo Cadena de Pago</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "c_TipoComprobante")" class="nav-link">Tipo de Comprobante</a></li>

                                    }
                                    
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "c_TipoIVA")" class="nav-link">Tipo de IVA</a></li>

                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "c_TipoRelacion")" class="nav-link">Tipo de Relación</a></li>

                                    }
                                     
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "c_ClaveUnidad")" class="nav-link">Unidad</a></li>

                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "c_UsoCFDI")" class="nav-link">Uso CFDI</a></li>

                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Compras"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "Usuario")" class="nav-link">Usuarios</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Compras"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "UserRole")" class="nav-link">Usuarios/Roles</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("GestionCalidad"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "Departamentos")" class="nav-link">Departamentos</a></li>
                                    }
                                    
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("GestionCalidad"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "RolDepto")" class="nav-link">Departamentos/Roles</a></li>
                                    }
                                </ul>
                                <!-- /ul-second-level Administración -->
                            </li>
                        }

                        <!-- menu Comercial-->
                        @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("AdminProduccion") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Produccion") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("GerenteVentas") || @Roles.IsUserInRole("Diseno") || @Roles.IsUserInRole("Calidad") || @Roles.IsUserInRole("ConsultaSuaje") || @Roles.IsUserInRole("GestionCalidad"))
                        {
                            <li class="nav-item menu">
                                <a href="#" class="nav-link "><i class="fa fa-archive fa-fw"></i> Comercial<i class="right fas fa-angle-left"></i></a>
                                <!--ul-second-level Comercial -->
                               <ul class="nav nav-treeview">

                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("AdminProduccion") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("AdminProduccion") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("GerenteVentas") || @Roles.IsUserInRole("Diseno") || @Roles.IsUserInRole("Calidad") || @Roles.IsUserInRole("GestionCalidad"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "Articulos")" class="nav-link">Artículo</a></li>
                                    }

                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("AdminProduccion") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("GerenteVentas"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "KIT")" class="nav-link">KITS de Artículo</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("GerenteVentas") || @Roles.IsUserInRole("GestionCalidad") || @Roles.IsUserInRole("Almacenista"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "Clientes")" class="nav-link">Clientes</a></li>
                                    }


                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("GerenteVentas"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "c_Grupo")" class="nav-link">Grupo de Clientes</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("AdminProduccion") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("GerenteVentas"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "Familia")" class="nav-link">Familia</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("GerenteVentas"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "Oficina")" class="nav-link">Oficina</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Sistemas"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "TipoArticulo")" class="nav-link">Tipo de Artículo</a></li>
                                    }
                                    
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Facturacion"))

                                    {

                                        <li class="nav-item"><a href="@Url.Action("Index", "Proveedor")" class="nav-link">Proveedor</a></li>
                                    }

                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("GerenteVentas"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "VObtenerMoneda")" class="nav-link">Tipo de Cambio</a></li>
                                    }

                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("GerenteVentas"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("MovAutorizacion", "Movimientos")" class="nav-link">Autorizaciones</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("GerenteVentas"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("MovComercial", "Movimientos")" class="nav-link">Movimientos Comerciales</a></li>
                                    }

                                </ul>
                                <!-- /ul-second-level Comercial-->
                            </li>
                        }
                        @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Diseno") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("AdminProduccion") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("GerenteVentas") || @Roles.IsUserInRole("GestionCalidad"))
                        {
                    <li class="nav-item">
                        <a href="#" class="nav-link "><i class="fa fa-dolly-flatbed fa-fw"></i> Almacen<i class="right fas fa-angle-left"></i>
                        <!--ul-second-level Almacen -->
                        <ul class="nav nav-treeview">
                            @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Almacenista"))

                            {
                                <li class="nav-item"><a href="@Url.Action("Index", "Almacen")" class="nav-link">Almacenes</a></li>
                            }
                            @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Almacenista"))
                            {
                                <li class="nav-item"><a href="@Url.Action("Index", "FamAlm")" class="nav-link">Familia por Almacén</a></li>
                            }
                            @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Almacenista"))
                            {
                                <li class="nav-item"><a href="@Url.Action("Create", "Inventario")" class="nav-link">Capturar Inventario Inicial</a></li>
                            }
                            @if (@Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Diseno") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("GerenteVentas") || @Roles.IsUserInRole("AdminProduccion") || @Roles.IsUserInRole("GestionCalidad"))
                            {
                                <li class="nav-item"><a href="@Url.Action("Index", "InventarioAlmacen")" class="nav-link">Consulta de Inventario</a></li>
                            }
                            @if (@Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Diseno") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("GerenteVentas") || @Roles.IsUserInRole("AdminProduccion") || @Roles.IsUserInRole("GestionCalidad"))
                            {
                                <li class="nav-item"><a href="@Url.Action("InventarioStock", "InventarioAlmacen", new { IDAlmacen = 0 })" class="nav-link">Consulta de Inventario stock</a></li>
                            }
                            @if (@Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Sistemas"))
                            {
                                <li class="nav-item"><a href="@Url.Action("SeguimientoStock", "InventarioAlmacen")" class="nav-link">Seguimiento stock</a></li>
                            }
                            @if (@Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Diseno") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("GerenteVentas"))
                            {
                                <li class="nav-item"><a href="@Url.Action("Index", "MovInterAlmacen")" class="nav-link">Movimiento interalmacenes</a></li>
                            }
                            @if (@Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Diseno") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("GerenteVentas"))
                            {
                                <li class="nav-item"><a href="@Url.Action("IndexPresentaciones", "MovInterAlmacen")" class="nav-link">Movimiento de presentaciones</a></li>
                            }
                            @if (@Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Diseno") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("GerenteVentas"))
                            {
                                <li class="nav-item"><a href="@Url.Action("InterAlmacenLote", "MovInterAlmacen")" class="nav-link">Movimiento de lotes  interalmacenes</a></li>
                            }
                            @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Almacenista"))

                            {
                                <li class="nav-item"><a href="@Url.Action("Index", "AjustesAlmacen")" class="nav-link">Ajustes Almacen</a></li>
                            }
                            @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("GerenteVentas") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Gerencia"))

                            {
                                <li class="nav-item"><a href="@Url.Action("ValeSalida", "AjustesAlmacen")" class="nav-link">Crear Vale de Salida</a></li>
                            }
                            @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("GerenteVentas") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Gerencia"))

                            {
                                <li class="nav-item"><a href="@Url.Action("ValesDeSalida", "AjustesAlmacen")" class="nav-link">Vales de Salida</a></li>
                            }
                            @if (@Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Diseno") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Compras"))
                            {
                                <li class="nav-item"><a href="@Url.Action("PedAlmacen", "Almacen")" class="nav-link">Pedidos vs Almacen</a></li>
                            }
                            @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("AdminProduccion") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("AdminProduccion") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("GerenteVentas") || @Roles.IsUserInRole("Diseno") || @Roles.IsUserInRole("Calidad") || @Roles.IsUserInRole("GestionCalidad"))
                            {
                                <li class="nav-item"><a href="@Url.Action("MaterialCostos", "Articulos")" class="nav-link">Modficar Costo x Material</a></li>
                            }
                            @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Gerencia"))

                            {
                                <li class="nav-item"><a href="@Url.Action("ListaOrdenesConflicto", "Almacen")" class="nav-link">Ordenes a sutir</a></li>
                            }
                            @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("AdminProduccion") || @Roles.IsUserInRole("Gerencia"))

                            {
                                <li class="nav-item"><a href="@Url.Action("AsignarMateriales", "Almacen")" class="nav-link">Surtir Materiales al WIP</a></li>
                            }
                            
                            @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Almacenista"))

                            {
                                <li class="nav-item"><a href="@Url.Action("RegresaMP", "Almacen")" class="nav-link">Regresar Mat deL WIP</a></li>
                            }

                            @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Compras"))

                            {
                                <li class="nav-item"><a href="@Url.Action("IIporlotemp", "InventarioAlmacen")" class="nav-link">Inventario Inicial por lotes</a></li>
                            }
                            
                            @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Compras"))

                            {
                                <li class="nav-item"><a href="@Url.Action("Index", "Empaque", new { Estado = "Solicitado" })">Solicitudes de empaque</a></li>
                            }
                            @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Compras"))

                            {
                                <li class="nav-item"><a href="@Url.Action("IndexMateria", "c_MatPrima")" class="nav-link">Catalogo de Peso MP</a></li>
                            }
                        </ul>
                        <!-- /ul-second-level Comercial-->
                    </li>
                        }
                        @if (@Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Calidad") || @Roles.IsUserInRole("GestionCalidad"))
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link "><i class="fa fa-shopping-basket"></i> Compras<i class="right fas fa-angle-left"></i></a>
                                <!--ul-second-level facturacion -->
                               <ul class="nav nav-treeview">
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("TiendaGeneralC", "TiendaC")" class="nav-link">Productos a seleccionar</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "CarritoC")" class="nav-link">Carrito</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Gerencia"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "EncRequisiciones")" class="nav-link">Requisiciones</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Calidad") || @Roles.IsUserInRole("GestionCalidad"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "EncOrdenCompra")" class="nav-link">Orden de Compra</a></li>
                                    }  @if (@Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Calidad") || @Roles.IsUserInRole("GestionCalidad"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("HistoriaSuajes", "EncOrdenCompra")" class="nav-link">Historia Orden de Compra</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("Gerencia"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("VRequisiciones", "EncOrdenCompra")" class="nav-link">Crear Orden de Compra</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Calidad") || @Roles.IsUserInRole("GestionCalidad"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "EncRecepcion")" class="nav-link">Recepción</a></li>
                                    }

                                    @if (@Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Compras") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Facturacion") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Calidad") || @Roles.IsUserInRole("GestionCalidad"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("IndexDevolucion", "EncRecepcion")" class="nav-link">Devolución</a></li>
                                    }


                                </ul>

                            </li>
                        }

                        @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("GerenteVentas") || @Roles.IsUserInRole("Diseno") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Comercial"))
                        {

                            <li class="nav-item">
                                <a href="#" class="nav-link "><i class="fa fa-chart-line fa-fw"></i> Estadísticas<i class="right fas fa-angle-left"></i></a>
                                <!--ul-second-level Administración-->
                               <ul class="nav nav-treeview">
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Diseno") || @Roles.IsUserInRole("GerenteVentas") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Comercial"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("CompraMateriaPrima", "Estadisticas")" class="nav-link">Compra de Materia Prima</a></li>
                                    }

                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Gerencia") || @Roles.IsUserInRole("Diseno") || @Roles.IsUserInRole("GerenteVentas") || @Roles.IsUserInRole("Ventas") || @Roles.IsUserInRole("Comercial"))

                                    {
                                        <li class="nav-item"><a href="@Url.Action("ProduccionMateriaPrima", "Estadisticas")" class="nav-link">Producción de Materia Prima</a></li>
                                    }

                                </ul>
                                <!-- /ul-second-level Administración -->
                            </li>
                        }
                        
                        <!-- /menu Producción-->
                        <!-- menu Calidad-->
                        <!-- menu Calidad-->
                        @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Calidad") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("GestionCalidad"))
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link "><i class="fa fa-certificate fa-fw"></i> Calidad<i class="right fas fa-angle-left"></i></a>
                                <!--ul-second-level Calidad -->
                               <ul class="nav nav-treeview">
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Calidad") || @Roles.IsUserInRole("GestionCalidad"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("Index", "OrdenProduccion")" class="nav-link">Órdenes de Producción</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Calidad") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("GestionCalidad"))
                                    {
                                        <li class="nav-item"><a href="@Url.Action("OrdenesALiberar", "OrdenProduccion")" class="nav-link">Órdenes a Liberar</a></li>
                                    }
                                    @if (@Roles.IsUserInRole("Administrador") || @Roles.IsUserInRole("Sistemas") || @Roles.IsUserInRole("Calidad") || @Roles.IsUserInRole("Comercial") || @Roles.IsUserInRole("Almacenista") || @Roles.IsUserInRole("GestionCalidad"))
                                    {

                                        <li class="nav-item"><a href="@Url.Action("OrdenesLiberadas", "OrdenProduccion")" class="nav-link">Órdenes Liberadas</a></li>
                                    }
                                    

                                </ul>
                                <!-- /ul-second-level Calidad-->
                            </li>
                        }

                        <li class="nav-header">PAGINAS</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-danger"></i>
                                <p class="text">Important</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-warning"></i>
                                <p>Warning</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Informational</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->

    <script src="~/Estilos/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Estilos/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Estilos/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Estilos/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Estilos/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Estilos/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Estilos/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Estilos/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Estilos/plugins/moment/moment.min.js"></script>
    <script src="~/Estilos/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Estilos/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Estilos/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Estilos/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->

    <script src="~/Estilos/Menu/js/adminlte.js"></script>

    <script src="~/Estilos/Menu/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->

    <script src="~/Estilos/Menu/js/pages/dashboard.js"></script>


</body>
</html>
