@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


@model SIAAPI.Models.Comercial.mArticulo


<h4>Agregar nuevo Artículo<br /><small></small></h4>
<hr />
@using (Html.BeginForm("addArticuloIsrael", "Articulos", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
<div class="table-responsive">
    <table class="table table-striped" width="50">
        <tr>



        <tr>
            <td>
                <span class="input-group-addon" id="basic-addon1">Clave de Producto</span>

            </td>
            <td>
                <input name="Cref" id="Cref" type="text" class="form-control" placeholder="0 " aria-describedby="basic-addon1" required="required">

            </td>

        </tr>
        <tr>
            <td>
                <span class="input-group-addon" id="basic-addon1">Descripcion del Articulo</span>

            </td>
            <td>
                <input name="Descripcion" id="Descripcion" type="text" class="form-control" placeholder="Escriba una Descripcion para el Producto" aria-describedby="basic-addon1" required="required">

            </td>

        </tr>
        <tr>
            <td>
                <span class="input-group-addon" id="basic-addon1">Mínimo Venta</span>

            </td>
            <td>
                <input name="MinimoVenta" id="MinimoVenta" type="number" step="any" class="form-control" placeholder="0" aria-describedby="basic-addon1">

            </td>

        </tr>
        <tr>
            <td>
                <span class="input-group-addon" id="basic-addon1">Mínimo Compra</span>

            </td>
            <td>
                <input name="MinimoCompra" id="MinimoCompra" type="number" step="0.01" class="form-control" placeholder="0" aria-describedby="basic-addon1">

            </td>

        </tr>
        <tr>
            <td>
                <span class="input-group-addon" id="basic-addon1">Stock Mínimo</span>

            </td>
            <td>
                <input name="StockMin" id="StockMin" type="number" step="0.01" class="form-control" placeholder="0" aria-describedby="basic-addon1">

            </td>

        </tr>


        <tr>
            <td>
                <span class="input-group-addon" id="basic-addon1">Stock Máximo</span>

            </td>
            <td>
                <input name="StockMax" id="StockMax" type="number" step="0.01" class="form-control" placeholder="0" aria-describedby="basic-addon1">

            </td>

        </tr>
        <tr>
            <td>
                <span class="input-group-addon" id="basic-addon1">Familia</span>



            </td>
            <td>

                @Html.DropDownList("IDFamilia", ViewBag.IDFamilia as List<SelectListItem>, new { @class = "form-control", @required = "required" })

            </td>

        </tr>

        <tr>
            <td>
                <span class="input-group-addon" id="basic-addon1">Tipo Articulo</span>




            </td>
            <td>
                @Html.DropDownList("IDTipoArticulo", ViewBag.IDTipoArticulo as List<SelectListItem>, new { @class = "form-control", @required = "required" })

            </td>

        </tr>


        <tr>
            <td>
                <span class="input-group-addon">Precio Unico de Venta</span>




            </td>

            <td>
                <span class="input-group-addon">
                    <input type="checkbox" name="Preciounico" id="Preciounico" value="true" />
                </span>


            </td>


        </tr>
        <tr>
            <td>
                <span class="input-group-addon" id="basic-addon1">Moneda</span>





            </td>

            <td>
                @Html.DropDownList("IDMoneda", ViewBag.IDMoneda as List<SelectListItem>, new { @class = "form-control", @required = "required" })


            </td>


        </tr>

        <tr>
            <td>
                <span class="input-group-addon" id="basic-addon1">U. Medida</span>



            </td>

            <td>
                @Html.DropDownList("IDClaveUnidad", ViewBag.IDClaveUnidad as List<SelectListItem>, new { @class = "form-control", @required = "required" })

            </td>


        </tr>
        <tr>
            <td>
                <span class="input-group-addon">Controla inventario</span>


            </td>

            <td>
                <span class="input-group-addon">
                    <input type="checkbox" name="CtrlStock" id="CtrlStock" value="true" />

                </span>
            </td>


        </tr>


        <tr>
            <td>
                <span class="input-group-addon">No controla inventario</span>


            </td>

            <td>
                <span class="input-group-addon">
                    <input type="checkbox" name="CtrlNoStock" id="CtrlNoStock" value="true" />

                </span>
            </td>


        </tr>

        <tr>
            <td>
                <span class="input-group-addon">Manejo de mas de una Presentación</span>


            </td>

            <td>
                <span class="input-group-addon">
                    <input type="checkbox" name="ManejoCar" id="ManejoCar" value="true" />

                </span>
            </td>


        </tr>
        <tr>
            <td>
                <span class="input-group-addon">Devoluciones Previas</span>


            </td>
            <td>
                <span class="input-group-addon">
                    <input type="checkbox" name="ExistenDev" id="ExistenDev" value="true" />
                </span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="input-group-addon">Código de Barras</span>

            </td>
            <td>
                <span class="input-group-addon">
                    <input type="checkbox" onclick="myFunction()" name="Codigodebarra" id="Codigodebarra" value="true" />
                </span>
                <input style="display:none" name="Codigodeb" id="Codigodeb" type="text" class="form-control" placeholder="Escriba o Escannee el Código de Barras Correspondiente" aria-describedby="basic-addon1">


            </td>
        </tr>

        <tr>
            <td>
                <span class="input-group-addon">AQL</span>
            </td>
            <td>
                @Html.DropDownList("IDAQL", ViewBag.IDAQL as List<SelectListItem>, new { @class = "form-control", @required = "required" })

            </td>
        </tr>
        <tr>
            <td>
                <span class="input-group-addon">Inspeccion</span>

            </td>
            <td>
                @Html.DropDownList("IDInspeccion", ViewBag.IDInpeccion as List<SelectListItem>, new { @class = "form-control", @required = "required" })

            </td>
        </tr>
        <tr>
            <td>
                <span class="input-group-addon">Muestreo</span>


            </td>
            <td>
                @Html.DropDownList("IDMuestreo", ViewBag.IDMuestreo as List<SelectListItem>, new { @class = "form-control", @required = "required" })


            </td>
        </tr>
        <tr>
            <td>
                <span class="input-group-addon">Es kit</span>

            </td>
            <td>
                <span class="input-group-addon">
                    <input type="checkbox" name="esKit" id="esKit" value="true" />
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="input-group-addon">Genera Orden de produccion</span>

            </td>
            <td>
                <span class="input-group-addon">
                    <input type="checkbox" name="GeneraOrden" id="GeneraOrden" value="true" onchange="validateOrden(this)" />
                </span>
            </td>

        </tr>
        <tr>
            <td><span class="input-group-addon">Obsoleto</span></td>
            <td>
                <span class="input-group-addon">
                    <input type="checkbox" name="obsoleto" id="obsoleto" value="true" />
                </span>
            </td>

        </tr>
        <tr>
            <td><span class="input-group-addon">¿Ese articulo usa RFID?</span></td>
            <td>
                <span class="input-group-addon">
                    <input type="checkbox" name="UsaRFID" id="UsaRFID" value="true" />
                </span>
            </td>

        </tr>
        <tr>
            <td><span class="input-group-addon">¿Ese articulo usa número de lote?</span></td>
            <td>
                <span class="input-group-addon">
                    <input type="checkbox" name="UsaLote" id="UsaLote" value="true" />
                </span>
            </td>

        </tr>
        <tr>
            <td><span class="input-group-addon">¿Ese articulo usa numero de serie?</span></td>
            <td>
                <span class="input-group-addon">
                    <input type="checkbox" name="UsaNumSerie" id="UsaNumSerie" value="true" />
                </span>
            </td>

        </tr>
        <tr>
            <td>
                <input type="file" name="fileIMG" class="btn btn-primary" id="imgProducto" />

            </td>

        </tr>
    </table>
</div>



                <div class="modal-footer">

                    <div class="row center-block">
                        <input type="submit" value="Grabar" class="btn btn-success btn-xs" />
                        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Cerrar</button>
                    </div>

                </div>}


<script>
    function myFunction() {
        var checkBox = document.getElementById("Codigodebarra");
        var text = document.getElementById("Codigodeb");
        if (checkBox.checked == true) {
            text.style.display = "block";

        }
        else {
            text.style.display = "none";

        }
    }

    function validateOrden(GeneraOrden) {
        if (GeneraOrden.checked == 1) {
            $('#IDInspeccion').val("2").change();;
            $('#IDMuestreo').val("3").change();;
        } else {
            $('#IDInspeccion').val("0").change();;
            $('#IDMuestreo').val("0").change();;
        }
    }
</script>

