@model SIAAPI.Models.Comercial.mArticulo

@if (ViewBag.Validacion == "")
{

    <h4>Agregar nuevo Artículo<br /><small></small></h4>
    <hr />
    using (Html.BeginForm("addArticulo", "Articulos", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Clave de Producto</span>
                    <input name="Cref" id="Cref" type="text" class="form-control" placeholder="0 " aria-describedby="basic-addon1" required="required">
                </div>
            </div>
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Descripcion del Articulo</span>
                    <input name="Descripcion" id="Descripcion" type="text" class="form-control" placeholder="Escriba una Descripcion para el Producto" aria-describedby="basic-addon1" required="required">

                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Mínimo Venta</span>
                    <input name="MinimoVenta" id="MinimoVenta" type="number" step="0.01" class="form-control" placeholder="0" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Mínimo Compra</span>
                    <input name="MinimoCompra" id="MinimoCompra" type="number" step="0.01" class="form-control" placeholder="0" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-7">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Familia</span>


                    @Html.DropDownList("IDFamilia", ViewBag.IDFamilia as List<SelectListItem>, new { @class = "form-control", @required = "required" })

                </div>
            </div>
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Tipo</span>

                    @Html.DropDownList("IDTipoArticulo", ViewBag.IDFamilia as List<SelectListItem>, new { @class = "form-control", @required = "required" })

                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-3">
                <div class="input-group">
                    <span class="input-group-addon">Precio Unico de Venta</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="Preciounico" id="Preciounico" value="true" />
                    </span>

                </div>
            </div>
            <div class="col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Moneda</span>

                    @Html.DropDownList("IDMoneda", ViewBag.IDMoneda as List<SelectListItem>, new { @class = "form-control", @required = "required" })

                </div>
            </div>
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">U. Medida</span>

                    @Html.DropDownList("IDClaveUnidad", ViewBag.IDClaveUnidad as List<SelectListItem>, new { @class = "form-control", @required = "required" })

                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-xs-3">
                <div class="input-group">
                    <span class="input-group-addon">Controla inventario</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="CtrlStock" id="CtrlStock" value="true" />
                    </span>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon">Manejo de mas de una caracteristica</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="ManejoCar" id="ManejoCar" value="true" />
                    </span>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon">Devoluciones Previas</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="ExistenDev" id="ExistenDev" value="true" />
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon">Código de Barras</span>
                    <span class="input-group-addon">
                        <input type="checkbox" onclick="myFunction()" name="Codigodebarra" id="Codigodebarra" value="true" />
                    </span>
                    <input style="display:none" name="Codigodeb" id="Codigodeb" type="text" class="form-control" placeholder="Escriba o Escannee el Código de Barras Correspondiente" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-3">
                <div class="input-group">
                    <span class="input-group-addon">AQL</span>

                    @Html.DropDownList("IDAQL", ViewBag.IDAQL as List<SelectListItem>, new { @class = "form-control", @required = "required" })

                </div>
            </div>
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon">Inspeccion</span>

                    @Html.DropDownList("IDInspeccion", ViewBag.IDInpeccion as List<SelectListItem>, new { @class = "form-control", @required = "required" })

                </div>
            </div>
            <div class="col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon">Muestreo</span>

                    @Html.DropDownList("IDMuestreo", ViewBag.IDMuestreo as List<SelectListItem>, new { @class = "form-control", @required = "required" })

                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-2">
                <div class="input-group">
                    <span class="input-group-addon">Es kit</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="esKit" id="esKit" value="true" />
                    </span>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon">Genera Orden de produccion</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="GeneraOrden" id="GeneraOrden" value="true" />
                    </span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="input-group">
                    <span class="input-group-addon">Obsoleto</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="obsoleto" id="obsoleto" value="true" />
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12">
                <input type="file" name="fileIMG" class="btn btn-primary" id="imgProducto" />

            </div>
        </div>
        <br />

        <div class="modal-footer">

            <div class="row center-block">
                @*<button type="button" name="button" class="btn btn-primary btn-xs" onclick="Guardar()">Guardar</button>*@
                <input type="submit" value="Grabar" class="btn btn-success btn-xs" />
                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Cerrar</button>
            </div>

        </div>


    }
}
else
{
    <div>@ViewBag.Validacion</div>
    <div></div>
}
<script>
    function myFunction() {
        var checkBox = document.getElementById("Codigodebarra");
        var text = document.getElementById("Codigodeb");
        if (checkBox.checked == true) {
            text.style.display = "block";

        }
        else {
            text.style.display = "none";

        }
    }
</script>

