@model SIAAPI.Models.Comercial.Kit

@{
    ViewBag.Title = "InsertarComponenteKit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var idcaracteristica = ViewBag.PresentacionList as List<SelectListItem>;
    var idarticulo = ViewBag.IDArticulo as List<SelectListItem>;
}

<h2>Insertar Componente a Kit</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" id="idarticuloKit" name="idarticuloKit" value="@ViewBag.idarticuloKit" />

        @*<div class="form-group">
            @Html.LabelFor(model => model.IDArticulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDArticulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IDArticulo, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <table>
            <td class="col-lg-3">
                Busca una clave  => Escribe parte de ella y presiona "Alt Gr"
                <br /><input id="clave" name="clave" onkeyup="actualizacomboArticulo(event)" />
            </td>
            <td class="col-lg-9">
                <div class="form-group">
                    @Html.Label("Artículo Componente", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">

                        @*@Html.DropDownListFor(model => model.IDArticulo, ViewBag.IDCaracteristica as List<SelectListItem>, new { @class = "form-control" })*@
                        @Html.DropDownListFor(model => model.IDArticuloComp, idarticulo, new
                   {
                       @class = "form-control",
                       @name = "IDArticuloComp",
                       @id = "IDArticuloComp",
                       data_cascade_combo = "#IDCaracteristica",
                       data_cascade_combo_source = Url.Action("getJsonCaracteristicaArticulo", "Articulos"),
                       data_cascade_combo_param_name = "id"

                   })
                    </div>
                </div>
            </td>

        </table>
        <div class="form-group">
            @Html.Label("Presentación", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">

                @Html.DropDownListFor(model => model.IDCaracteristica, idcaracteristica, new { @class = "form-control", id = "IDCaracteristica" })

            </div>
        </div>
        <div class="form-group">
            @Html.Label("Cantidad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Clave, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Clave, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Clave, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.Label("Por Cantidad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <div class="checkbox">
                    @Html.EditorFor(model => model.porcantidad)
                    @Html.ValidationMessageFor(model => model.porcantidad, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Por Porcentaje", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <div class="checkbox">
                    @Html.EditorFor(model => model.porporcentaje)
                    @Html.ValidationMessageFor(model => model.porporcentaje, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" class="btn btn-success btn-xs" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Details", new { id = @ViewBag.idarticuloKit}, new { @class = "btn btn-default btn-xs" })


</div>
<script defer src="~/Scripts/cascade.combo.js"></script>
<script>
    function actualizacomboArticulo(e) {



        if (e.keyCode === 18) {

            var control = "#clave";
            var selectcontrol = "#IDArticuloComp";
            $(selectcontrol).empty();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("getarticulosblando")',
                dataType: 'json',
                data: { buscar: $(control).val() },
                success: function (articulos) {

                    for (i = 0; i < articulos.length; i++) {
                        var Value = articulos[i].Value;

                        var Text = articulos[i].Text;
                        var select = "Selecciona un articulo";
                        $(selectcontrol).append('<option selected value="' + Value + '">' + Text + '</option>');

                    }
                    $(selectcontrol).append('<option selected value="' + 0 + '">' + select + '</option>');
                },
                error: function (ex) {
                    //alert('Falle.' + ex.data);
                }

            });
        }
    }

</script>