@model SIAAPI.Models.Comercial.MatrizPrecioCliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de Matriz de Precio Cliente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IDArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RangInf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangInf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RangSup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangSup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>

            @String.Format("{0:C}", Model.Precio)
        </dd>

     

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDMatrizPrecio }, new { @class = "btn btn-success btn-xs" }) |
    @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })
</p>
