@model SIAAPI.Models.CartaPorte.c_ClaveUnidadPeso

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Unidad Peso</h2>

<h3>¿Está seguro de eliminar este registro?</h3>
<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClaveUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveUnidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FFVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FFVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Simbolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Simbolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bandera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bandera)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger btn-xs" /> 
            @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })
        </div>
    }
</div>
