@model SIAAPI.Models.CartaPorte.c_ConfigAutotransporte

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>c_ConfigAutotransporte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClaveNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaveNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoEjes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoEjes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoLlantas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoLlantas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_In)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_In)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Fin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-success btn-x" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
