@model SIAAPI.Models.CartaPorte.c_DerechosDePaso

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Detalles Derechos de Paso</h3>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClavePaso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClavePaso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DerechoPaso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DerechoPaso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtorgaRecibe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtorgaRecibe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concesionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concesionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIvigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIvigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FFvigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FFvigencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDDerecho }, new { @class = "btn btn-success btn-xs" }) 
    @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })

</p>
