@*@model IEnumerable<SIAAPI.Models.CartaPorte.c_DerechosDePaso>*@
@*Paginación*@
<script src="~/Scripts/jquery-3.2.1.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () { // Submit pageSizeForm when another pageSize value is selected
        $("#pageSize").change(function () {
            $("#pageSizeForm").submit();
        });
    });
</script>
@model PagedList.IPagedList<SIAAPI.Models.CartaPorte.c_DerechosDePaso>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@*Paginación*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Derechos de paso </h3>
@*Busqueda*@
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <form class="navbar-form navbar-left">
            <div class="form-group">
                @using (Html.BeginForm())
                {
                    <p>
                        @Html.ActionLink("Crear derecho de paso", "Create", null, new { @class = "btn btn-warning btn-xs" })

                        Elementos por página: @Html.DropDownList("pageSize")  |
                        Filtro: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = " Introduce el texto a buscar:" })
                        <input type="submit" value="Aplicar" class="btn btn-primary btn-xs" /><span class="sr-only">(current)</span>

                        <a class="btn btn-info btn-xs" href="@Url.Action("ExcelDerechoPaso")">Descargar Excel</a>

                        <a class="btn btn-info btn-xs" href="@Url.Action("PDFDerechoPaso")">Descargar PDF</a>
                    </p>
                }
            </div>
        </form>
    </div>
</nav>
<br>
@*Busqueda*@
@*Tabla de datos*@
<div class="table-responsive">
    <table class="table table-striped" width="50">
        <tr>
            <th>
                @Html.ActionLink("Clave", "Index", new { sortOrder = ViewBag.ClaveSortParm, currentFilter = ViewBag.CurrentFilter })

                @*@Html.DisplayNameFor(model => model.ClavePaso)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DerechoPaso)*@
                @Html.ActionLink("Derechos de paso", "Index", new { sortOrder = ViewBag.ClaveSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Entre)*@
                @Html.ActionLink("Entre", "Index", new { sortOrder = ViewBag.ClaveSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Hasta)*@
                @Html.ActionLink("Hasta", "Index", new { sortOrder = ViewBag.ClaveSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.OtorgaRecibe)*@
                @Html.ActionLink("Otorga/Recibe", "Index", new { sortOrder = ViewBag.ClaveSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Concesionario)*@
                @Html.ActionLink("Concesionario", "Index", new { sortOrder = ViewBag.ClaveSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FIvigencia)*@
                @Html.ActionLink("FIvigencia", "Index", new { sortOrder = ViewBag.ClaveSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FFvigencia)*@
                @Html.ActionLink("FFvigencia", "Index", new { sortOrder = ViewBag.ClaveSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClavePaso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DerechoPaso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hasta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtorgaRecibe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concesionario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FIvigencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FFvigencia)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IDDerecho }, new { @class = "btn btn-success btn-xs" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.IDDerecho }, new { @class = "btn btn-default btn-xs" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IDDerecho }, new { @class = "btn btn-danger btn-xs" })

                </td>
            </tr>
        }

    </table>
</div>
@*Paginación*@
@using (Html.BeginForm("Index", "c_DerechosDePaso", FormMethod.Get, new { id = "pageSizeForm" }))
{
    <div class="pager">
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount<br />

        @Model.Count de @Model.TotalItemCount elementos

        @Html.PagedListPager(Model, page => Url.Action("Index", new
        {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter,
        searchString = ViewBag.CurrentFilter,
        pageSize = ViewBag.psize
        }))


    </div>
}
@*Paginación*@