@model SIAAPI.Models.Comercial.EncOrdenCompra

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Esta seguro de borrar este registro?</h3>
<div>
    <h4>Orden de Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRequiere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRequiere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDProveedor)
        </dt>

        <dd>
          @Html.DisplayFor(model => model.Proveedor.Empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDMetodoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_MetodoPago.ClaveMetodoPago)|@Html.DisplayFor(model => model.c_MetodoPago.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDFormapago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_FormaPago.ClaveFormaPago)|@Html.DisplayFor(model => model.c_FormaPago.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDMoneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_Moneda.ClaveMoneda)|@Html.DisplayFor(model => model.c_Moneda.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCondicionesPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CondicionesPago.ClaveCondicionesPago)|@Html.DisplayFor(model => model.CondicionesPago.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDAlmacen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Almacen.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDUsoCFDI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_UsoCFDI.ClaveCFDI)|@Html.DisplayFor(model => model.c_UsoCFDI.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

     

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger btn-xs" /> |
            @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })
        </div>

    }
</div>
