@*@model IEnumerable<SIAAPI.Models.Comercial.Vendedor>*@



@*Paginación*@
@model PagedList.IPagedList<SIAAPI.Models.Comercial.Vendedor>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@*<link href="~/Content/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />*@
@*Paginación*@

@*<p>@Html.ActionLink("Crea un nuevo registro", "Create")</p>*@

@{
    SIAAPI.Models.Comercial.VendedorContext db = new SIAAPI.Models.Comercial.VendedorContext();
    SIAAPI.Models.Comercial.ClsDatoEntero totalven = db.Database.SqlQuery<SIAAPI.Models.Comercial.ClsDatoEntero>("select count(IDVendedor) as Dato from Vendedor").ToList()[0];
    SIAAPI.Models.Comercial.ClsDatoString vendedores = db.Database.SqlQuery<SIAAPI.Models.Comercial.ClsDatoString>("select * from Vendedor").ToList()[0];
    //ViewBag.calificaciones = ().ToList();
}
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="form-group">
            @{
                <div class="col col-md-6 col-sm-1">
                    <div class="form-group">
                        <div>
                            <table>
                                <tr>
                                    <td>  <h3>Vendedores</h3> </td>
                                    <td>
                                        <form method="post" action='@Url.Action("DescargarPDFH", "FilePDF", new { ruta = "~/Manual/", name = "SIAAPI_Vendedores_C.pdf" })' target="_blank">
                                            <button class="btn btn-warning btn-xs"><i class="fa fa-question-circle-o fa-lg"></i></button>
                                        </form>
                                    </td>

                                </tr>
                            </table>
                        </div>


                    </div>
                </div>
            }

        </div>

    </div>
</nav>
<br>

@*Busqueda*@
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <form class="navbar-form navbar-left">
            <div class="form-group">
                @using (Html.BeginForm())
                {
                    <p>
                        @Html.ActionLink("Registra un nuevo Vendedor", "Create", null, new { @class = "btn btn-primary navbar-btn btn-xs" })|
                        Filtro: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = " Introduce el texto a buscar:" })
                        <input type="submit" value="Aplicar" class="btn btn-primary btn-xs" /><span class="sr-only">(current)</span>
                        <a class="btn btn-info btn-xs" href="@Url.Action("ReportePorVendedores")">Descargar Catálogo</a>

                    </p>
                }

            </div>
        </form>
    </div>
</nav>
<br>
@*Busqueda*@



<div class="table-responsive">
    <table class="table" style="width:75%" align="center">
        @foreach (var item in Model)
        {

            <td></td>
            @*<td class="bg-primary col-lg-4" align="center" width="50%">*@
            <td class="bg-primary col-lg-4" style="border:1px; border-radius: 15px" align="center" width="50%">
                <h3 class="card-title"> @Html.DisplayFor(modelItem => item.RFC)</h3>
                @if (item.Activo.Equals(true))
                {
                    <h5 class="card-title alert-success">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                }
                else
                {
                    <h5 class="card-title alert-danger">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                }

                <img class="card-img-top " src="@Url.Action("RenderImage", new { id=item.IDVendedor })" alt="Sin imagen" width="140" height="180">

                <p class="card-text"><a href="mailto:#" class="bg-primary text-white">@Html.DisplayFor(modelItem => item.Mail)</a></p>


                <small class="text-muted">
                    @Html.ActionLink("Editar", "Edit", new { id = item.IDVendedor }, new { @class = "btn btn-success btn-xs" })

                    @Html.ActionLink("Detalles", "Details", new { id = item.IDVendedor }, new { @class = "btn btn-default btn-xs" })

                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IDVendedor }, new { @class = "btn btn-danger btn-xs" })
                </small>

            </td>
            <td></td>
            <td></td>
        }
    </table>
</div>



@*Paginación*@
<div class="pager">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount<br />
    @Model.Count de @Model.TotalItemCount elementos
    @Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
@*Paginación*@